body {
    margin: 0;
    padding: 0;
    background-color: #333; 
    color: #fff; 
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  h5 {
    color: #888;
    margin-top: 20px;
  }
  
  .square-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 15%;
    margin-top: 20px;
  }
  
  .square {
    width: calc(33.33% - 10px);
    height: 0;
    padding-bottom: calc(33.33% - 10px);
    background-color: #ddd;
    margin-bottom: 10px;
    border-radius: 10px; 
  }
  
  .blue-rectangles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .blue-rectangle {
    width: 400px; 
    height: 200px; 
    background-color: grey;
    margin: 5px;
    border-radius: 20px; 
    position: relative;
  }
  
  .icon {
    font-size: 40px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  